body.theme-light {
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --bg-color: #fff;
  --font-color: #000;
  --bg-gradient: repeating-linear-gradient(
    to right,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px),
  linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a 100%);
}

body.theme-dark {
  --font-weight-regular: 465;
  --font-weight-bold: 785;
  --bg-color: #000;
  --font-color: #00CC14;
  --bg-gradient: repeating-linear-gradient(
    to right,
    #000,
    #000 2px,
    transparent 2px,
    transparent 4px),
  repeating-linear-gradient(
    to bottom,
    #000,
    #000 2px,
    transparent 2px,
    transparent 4px),
  linear-gradient(
    to bottom,
    #007f0c 0.01%,
    #004306 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-regular: 465;
    --font-weight-bold: 785;
    --bg-color: #000;
    --font-color: #00CC14;
    --bg-gradient: repeating-linear-gradient(
    to right,
    #000,
    #000 2px,
    transparent 2px,
    transparent 4px),
  repeating-linear-gradient(
    to bottom,
    #000,
    #000 2px,
    transparent 2px,
    transparent 4px),
  linear-gradient(
    to bottom,
    #007f0c 0.01%,
    #004306 100%);
  }
}